.todo_list_page {
  .logout_and_search {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 10px;
    }
  }

  .title_and_add {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    button {
      margin-right: 10px;
      margin-top: 10px;
    }
  }

  .columns_window {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // max-height: 300px;

    .task_card {
      border: rgb(216, 216, 216) solid 1px;
      margin-bottom: 15px;
    }

    .column {
      background: white;
      min-width: 300px;
    

      h3 {
        text-align: center;
      }
    }
  }
}


