$color_blue: rgb(0, 110, 255); 
$color_white:white; 


.login_page {
  h2 {
    font-size: 57px;
    letter-spacing: 3px;
  }

  .windows {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    section {
      width: 100%;
      text-align: center;

      form {
        align-items: center;
        button {
          margin-top: 15px;
          background: $color_blue;
          color: $color_white;
          &:hover {
            background:$color_blue;
          }
        }
      }

      div {
        margin-bottom: 2%;
        align-items: center;
      }

      button {
        width: 100px;
        display: block;
        align-items: center;
      }
    }

    .register_window {
      background: $color_white;
      form {
        display: flex;
        flex-direction: column;
      }
    }

    .change_regiser_window {
      background: $color_blue;
      color: $color_white;

      button {
        margin: 30px auto;
        &:hover {
          background: rgba(255, 255, 255, 0.13);
        }
      }
    }
  }
}
