@font-face {
  font-family: "Roboto";
  src: url("../../Assets/Fonts/Roboto-Light.ttf");
}

body,
#root,
main,
html,
.windows,
.login_page {
  height: 100%;
}

body {
  background: #f0f0f0;
  color: rgb(44, 44, 44);
  font-family: "Roboto";
  margin: 0;
}

li {
  list-style-type: none;
  width: 270px;
  margin-left: -5px;
}

body::-webkit-scrollbar {
  display: none;
}
